{{>header}}
{{>navbar}}
 <p>Diego Rivera</p>
    <p><em>Guanajuato, 1886 - Ciudad de México, 1957. Muralista mexicano. Los artistas mexicanos Diego Rivera, David Alfaro Siqueiros y José Clemente Orozco conforman la tríada de los máximos representantes del muralismo mexicano, 
            escuela pictórica que floreció a partir de los años veinte del pasado siglo.
            Las características fundamentales de esta tendencia son la monumentalidad, que apunta a conseguir una mayor gama de posibilidades comunicativas con las masas populares (algunos de los gigantescos murales sobrepasan los cuatrocientos metros cuadrados); la ruptura con la tradición academicista y la asimilación de las corrientes pictóricas de la vanguardia europea (cubismo, expresionismo), con las que los artistas mexicanos tuvieron oportunidad de entrar en contacto directo, y la integración de la ideología revolucionaria en la pintura, que según ellos debía expresar artísticamente los problemas de su tiempo.</em></p></center>
          <table>
              <tr>
              <td><p>View of Toledo</p><img src="imagenes/viewD.jpg" alt="" width="250" height="300"></td>
              <td><p>Retrato de Frida Kahlo</p><img src="imagenes/retratoD.jpg" alt="" width="250" height="300"></td> 
              <td><p>Night of the Rich</p><img src="imagenes/nightD.jpg" alt="" width="250" height="300"></td>
              <td><p>La mujer del pozo</p><img src="imagenes/mujerD.jpg" alt="" width="250" height="300"></td>
              <td><p>El hombre controlador del universo</p><img src="imagenes/hombreD.jpg" alt="" width="250" height="300"></td>
            </tr></table>

{{>footer}}