{{>header}}
{{>navbar}}
 <p>Frida Kahlo</p>
  <p><em>Magdalena Carmen Frida Kahlo; Coyoacán, México, 1907 - id., 1954. Pintora mexicana. Aunque se movió en el ambiente de los grandes muralistas mexicanos de su tiempo y compartió sus ideales, Frida Kahlo creó una pintura absolutamente personal,
             ingenua y profundamente metafórica al mismo tiempo, derivada de su exaltada sensibilidad y de varios acontecimientos que marcaron su vida.
             A los dieciocho años Frida Kahlo sufrió un gravísimo accidente que la obligó a una larga convalecencia, durante la cual aprendió a pintar, y que influyó con toda probabilidad en la formación del complejo mundo psicológico que se refleja en sus obras. En 1929 contrajo matrimonio con el muralista Diego Rivera; tres años después sufrió un aborto que afectó en lo más hondo su delicada sensibilidad y le inspiró dos de sus obras más valoradas: Henry Ford Hospital y Frida y el aborto, cuya compleja simbología se conoce por las explicaciones de la propia pintora.

             También son muy apreciados sus autorretratos, asimismo de compleja interpretación: Autorretrato con monos o Las dos Fridas. Cuando André Breton conoció la obra de Frida Kahlo, afirmó que la mexicana era una surrealista espontánea y la invitó a exponer en Nueva York y París, ciudad esta última en la que no tuvo una gran acogida. Frida nunca se sintió cerca del surrealismo, y al final de sus días rechazó abiertamente que su creación artística fuera encuadrada en esa tendencia.</em></p></center>
          <table>
              <tr>
              <td><p>Autorretrato de collar con espinas</p><img src="imagenes/autoF.jpg" alt="" width="250" height="300"></td>
              <td><p>Sin Esperanza</p><img src="imagenes/espeF.jpg" alt="" width="250" height="300"></td> 
              <td><p>Frida y Diego Rivera</p><img src="imagenes/fridieF.jpg" alt="" width="250" height="300"></td>
              <td><p>Autorretrato con Mono</p><img src="imagenes/monoF.jpg" alt="" width="250" height="300"></td>
              <td><p>Naturaleza muerta: Viva la vida</p><img src="imagenes/natuF.jpg" alt="" width="250" height="300"></td>
            </tr></table>

{{>footer}}