{{>header}}
{{>navbar}}
 <p>Leonardo da Vinci</p>
 <p><em>Vinci, Toscana, 1452 - Amboise, Turena, 1519, Artista, pensador e investigador italiano que,
             por su insaciable curiosidad y su genio polifacético, representa el modelo más acabado del sabio renacentista.
             Leonardo da Vinci era hijo ilegítimo de un abogado florentino, quien no le permitió conocer a su madre, una modesta campesina. Se formó como artista en Florencia, en el taller de Andrea del Verrocchio; pero gran parte de su carrera se desarrolló en otras ciudades italianas como Milán (en donde permaneció entre 1489 y 1499 bajo el mecenazgo del duque Ludovico Sforza, llamado el Moro) o Roma (en donde trabajó para Julio de Médicis). Aunque practicó las tres artes plásticas, no se ha conservado ninguna escultura suya y parece que ninguno de los edificios que diseñó llegó a construirse,
              por lo que de su obra como escultor y arquitecto sólo quedan indicios en sus notas y bocetos personales.</em></p></center>
          <table>
              <tr>
              <td><p>La Virgen de las Rocas</p><img src="imagenes/virgenL.jpg" alt="" width="250" height="300"></td>
              <td><p>Mona Lisa de Isleworth</p><img src="imagenes/monaL.jpg" alt="" width="250" height="300"></td> 
              <td><p>Adoracion de los Magos</p><img src="imagenes/magosL.jpg" alt="" width="250" height="300"></td>
              <td><p>La gioconda</p><img src="imagenes/giocondaL.jpg" alt="" width="250" height="300"></td>
              <td><p>La ultima Cena</p><img src="imagenes/cenaL.jpg" alt="" width="250" height="300"></td>
            </tr></table>

{{>footer}}