{{>header}}
{{>navbar}}

 <p>Pablo Picasso</p>
  <p><em>Pablo Ruiz Picasso; Málaga, 1881 - Moulins, Francia, 1973, Pintor español. 
        La trascendencia de Picasso no se agota en la fundación del cubismo, revolucionaria tendencia que rompió definitivamente con la representación 
        tradicional al liquidar la perspectiva y el punto de vista único. A lo largo de su dilatada trayectoria, Pablo Picasso exploró incesantemente 
        nuevos caminos e influyó en todas la facetas del arte del siglo XX, encarnando como ningún otro la inquietud y receptividad del artista contemporáneo. 
        Su total entrega a la labor creadora y su personalidad vitalista, por otra parte,
         nunca lo alejarían de los problemas de su tiempo; una de sus obras maestras,
          el Guernica (1937), es la mejor ilustración de su condición de artista comprometido.</em></p></center>
      <table>
          <tr>
          <td><p>Arlequin</p><img src="imagenes/arlequin.jpg" alt="" width="250" height="300"></td>
          <td><p>El sueño</p><img src="imagenes/elsueño.jpg" alt="" width="250" height="300"></td> 
          <td><p>La mujer que llora</p><img src="imagenes/lamujerquellora.jpg" alt="" width="250" height="300"></td>
          <td><p>Lectura</p><img src="imagenes/lectura.jpg" alt="" width="250" height="300"></td>
          <td><p>Seated</p><img src="imagenes/seated.jpg" alt="" width="250" height="300"></td>
        </tr></table>

{{>footer}}